:root {
  --background: linear-gradient(135deg, #ffbc0d, #2575fc);
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  user-select: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex-grow: 1;
  overflow-y: auto;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
  background-color: #f8f9fa;
  padding: 10px 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.custom-hover-link {
  color: white; /* Default color */
  text-decoration: none;
}

.custom-hover-link:hover {
  color: black; /* Hover color */
}