.index-page-container {
  color: #333;
  padding: 20px;
  min-height: 80vh;

  .link-button {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  #buttons-container {
    display: flex;

    @media screen and (max-width: 450px) {
      flex-direction: column;
    }

    #explore-menu-btn {
      margin-right: 20px;
      @media screen and (max-width: 450px) {
        margin-right: 0;
      }
    }

    #learn-more-btn {
      padding: 10px 20px;

      @media screen and (max-width: 450px) {
        margin-top: 20px;
      }
    }
  }

}